In [127]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from boruta import BorutaPy
from sklearn.ensemble import RandomForestClassifier

In [128]:
df = pd.read_csv('Telco-Customer-Churn Dataset.csv')

In [156]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [154]:
estimator = RandomForestClassifier(n_jobs=-1, class_weight='balanced', max_depth=5)
boruta_selector = BorutaPy(estimator, n_estimators='auto', verbose=2, random_state=42)

In [157]:
boruta_selector.fit(X, y)

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	9 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	10 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	11 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	12 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	13 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	14 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	15 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	16 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	17 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	18 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	19 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	20 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	21 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	22 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	23 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	24 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	25 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	26 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	27 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	28 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	29 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	30 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	31 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	32 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	33 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	34 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	35 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	36 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	37 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	38 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	39 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	40 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	41 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	42 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	43 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	44 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	45 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	46 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	47 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	48 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	49 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	50 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	51 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	52 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	53 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	54 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	55 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	56 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	57 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	58 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	59 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	60 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	61 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	62 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	63 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	64 / 100
Confirmed: 	8
Tentative: 	1
Rejected: 	2
Iteration: 	65 / 100
Confirmed: 	8
Tentative: 	0
Rejected: 	3


BorutaPy finished running.

Iteration: 	66 / 100
Confirmed: 	8
Tentative: 	0
Rejected: 	3

BorutaPy(estimator=RandomForestClassifier(class_weight='balanced', max_depth=5,
                                          n_estimators=84, n_jobs=-1,
                                          random_state=RandomState(MT19937) at 0x297233FB440),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x297233FB440, verbose=2)

In [158]:
selected_features = df.columns[:-1][boruta_selector.support_]
print(selected_features)

Index(['SeniorCitizen (No-0, Yes-1)', 'Partner (No-0, Yes-1)',
       'Tenure (Months)', 'InternetService (DSL-0, FO-1, NO-2)',
       'Contract (M to M-0, 1 Year-1, 2 Years-2)',
       'PaymentMethod(BT-0, CC-1, EC-2, MC-3)', 'MonthlyCharges',
       'TotalCharges'],
      dtype='object')

In [129]:
df.head(15)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No
10,9763-GRSKD,Male,0,Yes,Yes,13,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,49.95,587.45,No
11,7469-LKBCI,Male,0,No,No,16,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8,No
12,8091-TTVAX,Male,0,Yes,No,58,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,No,Credit card (automatic),100.35,5681.1,No
13,0280-XJGEX,Male,0,No,No,49,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes
14,5129-JLPIS,Male,0,No,No,25,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,105.50,2686.05,No

In [130]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [131]:
def produce_missing_report(df):
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,
                                     'percent_missing': percent_missing})
    return missing_value_df

In [132]:
produce_missing_report(df)

                       column_name  percent_missing
customerID              customerID              0.0
gender                      gender              0.0
SeniorCitizen        SeniorCitizen              0.0
Partner                    Partner              0.0
Dependents              Dependents              0.0
tenure                      tenure              0.0
PhoneService          PhoneService              0.0
MultipleLines        MultipleLines              0.0
InternetService    InternetService              0.0
OnlineSecurity      OnlineSecurity              0.0
OnlineBackup          OnlineBackup              0.0
DeviceProtection  DeviceProtection              0.0
TechSupport            TechSupport              0.0
StreamingTV            StreamingTV              0.0
StreamingMovies    StreamingMovies              0.0
Contract                  Contract              0.0
PaperlessBilling  PaperlessBilling              0.0
PaymentMethod        PaymentMethod              0.0
MonthlyCharges      MonthlyCharges              0.0
TotalCharges          TotalCharges              0.0
Churn                        Churn              0.0

In [133]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [134]:
df[df.duplicated()]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [135]:
to_drop = ['customerID', 'Dependents', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling']
df = df.drop(to_drop, axis=1)

In [136]:
df.dtypes

gender              object
SeniorCitizen        int64
Partner             object
tenure               int64
PhoneService        object
MultipleLines       object
InternetService     object
Contract            object
PaymentMethod       object
MonthlyCharges     float64
TotalCharges        object
Churn               object
dtype: object

In [137]:
le = LabelEncoder()

Gender: Male-0, Female-1

In [138]:
df['gender'] = le.fit_transform(df['gender'])

PhoneService: Yes-1, No-0

In [139]:
df['PhoneService'] = le.fit_transform(df['PhoneService'])

MultipleLines: No-0, No PhoneService-1, Yes-2

In [140]:
df['MultipleLines'] = le.fit_transform(df['MultipleLines'])

InternetService: DSL-0, Fiber Optic-1, No-2

In [141]:
df['InternetService'] = le.fit_transform(df['InternetService'])

Partner: Yes-1, No-0

In [142]:
df['Partner'] = le.fit_transform(df['Partner'])

Contract: Month to Month-0, 1 Year-1, 2 Years-2

In [143]:
df['Contract'] = le.fit_transform(df['Contract'])

PaymentMethod: Bank Transfer-0, Credit Card-1, Electronic Check-2, Mailed Check-3

In [144]:
df['PaymentMethod'] = le.fit_transform(df['PaymentMethod'])

Churn: No-0, Yes-1

In [145]:
df['Churn'] = le.fit_transform(df['Churn'])

In [146]:
df.dtypes

gender               int32
SeniorCitizen        int64
Partner              int32
tenure               int64
PhoneService         int32
MultipleLines        int32
InternetService      int32
Contract             int32
PaymentMethod        int32
MonthlyCharges     float64
TotalCharges        object
Churn                int32
dtype: object

TotalCharges had empty sets so the conversion to a float was did as followed, where we used the mean of the values to be substitued into the empty sets and then the datatype was changed to float.

In [147]:
df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan).astype(float)

In [148]:
print((df['TotalCharges'] == ' ').sum())

0

In [149]:
mean_value = df['TotalCharges'].astype(float).mean()
df['TotalCharges'] = df['TotalCharges'].replace(' ', mean_value).astype(float)

In [150]:
median_value = df['TotalCharges'].astype(float).median()
df['TotalCharges'] = df['TotalCharges'].fillna(median_value).astype(float)

In [151]:
df['TotalCharges']

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

Beautification/Labelling of dataset.

In [152]:
df.rename(columns={"tenure": "Tenure (Months)"}, inplace=True)
df.rename(columns={"gender": "Gender (Female-0, Male-1)"}, inplace=True)
df.rename(columns={"SeniorCitizen": "SeniorCitizen (No-0, Yes-1)"}, inplace=True)
df.rename(columns={"PhoneService": "PhoneService (No-0, Yes-1)"}, inplace=True)
df.rename(columns={"Partner": "Partner (No-0, Yes-1)"}, inplace=True)
df.rename(columns={"MultipleLines": "MultipleLines (No-0, No PhoneService-1, Yes-1)"}, inplace=True)
df.rename(columns={"InternetService": "InternetService (DSL-0, FO-1, NO-2)"}, inplace=True)
df.rename(columns={"Contract": "Contract (M to M-0, 1 Year-1, 2 Years-2)"}, inplace=True)
df.rename(columns={"PaymentMethod": "PaymentMethod(BT-0, CC-1, EC-2, MC-3)"}, inplace=True)
df.rename(columns={"Churn": "Churn (No-0, Yes-1)"}, inplace=True)

In [153]:
df.head(10)

,"Gender (Female-0, Male-1)","SeniorCitizen (No-0, Yes-1)","Partner (No-0, Yes-1)",Tenure (Months),"PhoneService (No-0, Yes-1)","MultipleLines (No-0, No PhoneService-1, Yes-1)","InternetService (DSL-0, FO-1, NO-2)","Contract (M to M-0, 1 Year-1, 2 Years-2)","PaymentMethod(BT-0, CC-1, EC-2, MC-3)",MonthlyCharges,TotalCharges,"Churn (No-0, Yes-1)"
0,0,0,1,1,0,1,0,0,2,29.85,29.85,0
1,1,0,0,34,1,0,0,1,3,56.95,1889.50,0
2,1,0,0,2,1,0,0,0,3,53.85,108.15,1
3,1,0,0,45,0,1,0,1,0,42.30,1840.75,0
4,0,0,0,2,1,0,1,0,2,70.70,151.65,1
5,0,0,0,8,1,2,1,0,2,99.65,820.50,1
6,1,0,0,22,1,2,1,0,1,89.10,1949.40,0
7,0,0,0,10,0,1,0,0,3,29.75,301.90,0
8,0,0,1,28,1,2,1,0,2,104.80,3046.05,1
9,1,0,0,62,1,0,0,1,0,56.15,3487.95,0